<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">




    <bean id="consumerConfig" abstract="true">
        <property name="nameSrvAddrs" value="${mq.srv.addr}"/>
        <property name="clientIP" value="${mq.consumer.ip}"/>
    </bean>

    <bean id="soundToothCallConsumerService" parent="consumerConfig" class="com.slst.common.mq.consumer.impl.DefaultConsumerServiceImpl">
        <property name="consumerGroupName" value="${mq.soundtooth.consumer.gname}"/>
        <property name="consumerName" value="${mq.soundtooth.consumer.name}"/>
        <property name="topic" value="${mq.soundtooth.consumer.topic.call}"/>
        <property name="messageListener" ref="soundToothCallListener"/>
    </bean>
    <bean id="callRecordConsumerService" parent="consumerConfig" class="com.slst.common.mq.consumer.impl.DefaultConsumerServiceImpl">
        <property name="consumerGroupName" value="${mq.call.record.gname}"/>
        <property name="consumerName" value="${mq.call.record.name}"/>
        <property name="topic" value="${mq.call.record.topic}"/>
        <property name="messageListener" ref="callRecordListener"/>
    </bean>
    <!--创建联系人-->
    <bean id="contactsConsumerService" parent="consumerConfig" class="com.slst.common.mq.consumer.impl.DefaultConsumerServiceImpl">
        <property name="consumerGroupName" value="${mq.contacts.consumer.gname}"/>
        <property name="consumerName" value="${mq.contacts.consumer.name}"/>
        <property name="topic" value="${mq.contacts.consumer.topic.call}"/>
        <property name="messageListener" ref="contactsListener"/>
    </bean>
    <!--发送短信-->
    <bean id="smsSendConsumerService" parent="consumerConfig" class="com.slst.common.mq.consumer.impl.DefaultConsumerServiceImpl">
        <property name="consumerGroupName" value="${mq.send.consumer.gname}"/>
        <property name="consumerName" value="${mq.send.consumer.name}"/>
        <property name="topic" value="${mq.send.consumer.topic.SMS}"/>
        <property name="messageListener" ref="sMSSendListener"/>
    </bean>
</beans>